# Ignorar el archivo Plantilla.xlsx
Plantilla.xlsx

# Ignorar las carpetas DocumentosObjetivos, dist, build, DocumentosFusionado y __pycache__
DocumentosObjetivos/
dist/
build/
DocumentosFusionado/
__pycache__/